
.navbar-toggler img{
    width: 35px;
}

.nav-link{
    color: rgb(90, 5, 169) !important;
    font-weight: bold !important;
    margin-left: 20px;
}

.navbar-brand{
    color: rgb(90, 5, 169) !important;
    font-weight: bold !important;
}

.home-txt{
    padding-top: 100px;
}

.home-txt .head1{
    color: rgb(90, 5, 169) !important;
}
.home-txt .head2{
    color: rgb(225, 170, 66) !important;
}

.home-txt .btn1{
    color: white !important;
    background-color:rgb(90, 5, 169) ;
    border-radius: 4px;
    border: 0px;
    height: 35px;
    width: 110px;
}
.home-txt .btn2{
    color: rgb(90, 5, 169) !important;
    background-color:white ;
    border-radius: 4px;
    border:1px solid;
    border-color: rgb(90, 5, 169);
    height: 35px;
    width: 110px;
}

.feature-image{
    margin-top: 2rem;
    width: 500px;
    height: 500px;
    object-fit: contain;
}

@media screen and (max-width: 600px) {

    /* *{
        overflow-x:auto;
    } */

    .home-txt{
        padding-top: 50px;
        text-align: center;
    }

    .homeImg{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .feature-image{
        height: 350px;
        width: 250px;
    }
    .feature-img1{
        height: 200px;
        width: 95px;
    }
    .feature-img2{
        height: 280px;
        width: 255px;
    }
    .feature-img3{
        height: 280px;
        width: 255px;
    }

    h1{
        font-size:20px !important;
        line-height: 30px !important;
    }

    p{
        font-size: 14px;
    }

    /* .boxes{
        width: 90vw !important;
        display: flex !important;
        flex-direction: column !important;

    } */

    .row{
        flex-direction: column !important;
        margin-left:-15px   !important;
        margin-right:2px   !important;
    }
    
    .boxes .col{
        margin-bottom: 20px;
        margin-left: 10px;
    }


    .col{
        width: 95vw;
    }
    .container {
        padding: 10px;
    }

    .header, .content, .footer {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }

    .contact-img{
        height: 230px !important;
        width: 280px !important;
    }

}

.heading1{
    padding-top: 150px;
    text-align: center;
}


p{
    text-align: left;
}

.feature-img1{
    height: 300px;
    width: 330px;
}

.col{
    padding-top: 100px;
}

.feature-img2{
    height: 300px;
    width: 330px;
    border-radius: 50%;
}
.feature-img3{
    height: 300px;
    width: 330px;
}

h3, h4{
    text-align: left;
}

.boxes{
    padding-top: 100px;
}

.boxes .col{
    border: 2px solid;
    border-radius: 8px;
    border-color: #bdbfbe;
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
    padding-top: 20px !important;
    margin-right: 20px;
    

}
.test{
    padding-top: 100px;
    text-align: center;
}
.test p{
    text-align: center;
}


.carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.carousel-item {
	color: #999;
	font-size: 14px;
    text-align: center;
	overflow: hidden;
    min-height: 290px;
}
.carousel .item .img-box {
	width: 135px;
	height: 135px;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 50%;
}
.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial {
	padding: 30px 0 10px;
}
.carousel .overview {	
	font-style: italic;
}
.carousel .overview b {
	text-transform: uppercase;
	color: #18740a;
}
.carousel .carousel-control {
	width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
	background: none;
}
.carousel-control i {
    font-size: 68px;
	line-height: 42px;
    position: absolute;
    display: inline-block;
	color: rgba(0, 0, 0, 0.8);
    text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel .carousel-indicators {
	bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 1px 3px;
	border-radius: 50%;
}
.carousel-indicators li {	
	background: #999;
	border-color: transparent;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li.active {	
	background: #555;		
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}


.contact{
    padding-top: 100px;
    text-align: center;
}
.contact-img{
    height: 370px;
    width: 380px;
}

.col form{
    text-align: left;
}

.footer{
    padding-top: 100px;
    text-align: center;
    width: 100%;
}

.footer p{
    text-align: center;
}
.footer a{
    text-decoration: none;
}

.footer footer{
    
        background-image: linear-gradient(to right, rgb(90, 38, 233) , rgb(90, 5, 169));
}